-server
-Xms1g
-Xmx1g
-XX:+UseG1GC
-XX:G1HeapRegionSize=1M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+UseGCOverheadLimit
-XX:+ParallelRefProcEnabled
-XX:+OptimizeStringConcat
-XX:+AlwaysPreTouch
-Djava.security.egd=file:/dev/./urandom
-Dfile.encoding=UTF-8
-XX:MaxDirectMemorySize=512m
-XX:ReservedCodeCacheSize=150M
